{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Цветы и подарки в Санкт Петербурге | Цветочное варенье | Flower jam | Флорист в Санкт Петербурге</title>
</head>
<body>
    <a href="{% url 'index' %}"><img src="{% static 'img/logo-default.png'%}"></a>
    <img src="{% static 'img/home-slider-background-img-1.png' %}">
    <a href="{% url 'products' %}">Букеты</a>
    <a href="{% url 'compositions' %}">Композиции</a>
    <a href="{% url 'wedding' %}">Свадьба</a>
    <a href="{% url 'interior' %}">Интерьеры</a>
    <a href="{% url 'blog' %}">Блог</a>
    <a href="{% url 'friends' %}">Друзья</a>
    <a href="{% url 'contacts' %}">Контакты</a>
    <div class="container">
        {% block main %}
        {% endblock %}
    </div>
</body>
</html>